body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #30334d;
    -webkit-font-smoothing: antialiased;
    background-color: #fff  ;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}


p {
    margin: 0 0 10px 0;
    /* Сверху 0 справа 0 снизу 10 слева 0 */
}

/* ===================================
============---Container---============== 
======================================
*/

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    max-height: 100px;
}



/* ===================================
============---Header---============== 
======================================
*/

.header {
    width: 100%;
    height: 100px;
    padding: 28px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #505268;
    padding: 39px 0;
    align-items: center;
}



/* ===================================
============---Nav---============== 
======================================
*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

}

.nav__link {
    margin-left: 60px;
    text-decoration: none;
    color: #fff;
    font-family: Raleway bold;
    opacity: 0.75;
    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0px;

}

.nav__link:hover {
    opacity: 1;
}

/* ===================================
============---Intro---============== 
======================================
*/

.intro {
    height: 750px;
    padding-top: 100px;
    background-image: url("../images/intro-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2b2e49;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.container1 {
    padding-top: 50px;
    padding-left: 370px;
    padding-right: 460px;
    width: 2000px;
    text-align: center;

}


.intro__inner {
    width: 100%;
    max-width: 970px;
    margin-left: 100px;

}

.intro__title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 75px;
    line-height: 71.5px;
    /* можно написать 1, относитель font-size */
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

.intro__main {
    margin: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff
}

/* ===================================
============---Button---============== 
======================================
*/

.button {
    display: inline-block;
    margin: 84px 0 158px;
    padding: 14px 40px;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;

    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    border-radius: 3px;
    transition: background 0.2s linear;
}



.button--red {
    width: 200px;
    height: 46px;
    background-color: #e84545;

}

.button--red:hover {
    background-color: #bd3838;
}   